@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

:root {
    --main-bg: #F9F5E7;
    --tan-100: #F8EAD8;
    --tan-200: #EDDBC7;
    --tan-300: #A7727D;
    --tan-250: #baab9c;
    --tan-300: #A7727D;

    --brown-200: #3c2a21;
;

    --font-serif: 'Libre Baskerville', serif;
    --font-sans:  'DM Sans', sans-serif;

}

h1,h2,h3 {
    font-family: var(--font-serif);
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    color: var(--brown-200);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.hero h1 {
    font-size: 2.25rem;
    font-style: italic;
}

.hero p {
    color: var(--brown-200);
    text-align: center;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
}

.btn-disabled {
    opacity: .5;
    cursor: not-allowed;
    pointer-events: none;
}


.btn-primary {
    transition: background-color 100ms ease;
    background-color: var(--tan-300);
    padding: .5rem 1.3rem;
    font-size: .9rem;
    color: white;
    border-radius: 4px;
    text-transform: capitalize;
}

.select {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 1.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
}

body {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    padding-block: 1.4rem;
    background-color: var(--main-bg);
}

.title {
    font-weight: bold;
}

.image-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    flex-wrap: wrap;
    padding-block: .5rem;
}

.img--thumb {
  aspect-ratio: 1 / 1.4142135624;
  max-width: 150px;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}

.file-box {
    margin-block: .5rem;
    width: 100%;
    height: 150px;
    border: 2px dashed var(--tan-200);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--tan-300);
    user-select: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 100ms ease;
}

.file-box--dragover {
    border: 2px dashed var(--tan-250);
}

@media (hover: hover) {
    .file-box:hover {
        background-color: var(--tan-100);
    }

    .btn-primary:not(.btn-disabled):hover {
        background-color: #0f59ac;
    }
}

.file-box__input {
    display: none;
}
